.hw {
    font-size: 30px;
    display: block;
}

.m1 {
    display: block;
}

.trn {
    margin-left: 30px;
    display: block;
}

.c {
    color: blue;
}

.highlight {
    background: orange;
}
span.dicName{
    border: solid 1px black;
    padding: 3px;
    margin: 3px;
    text-transform:uppercase;
    font-size: 8px;
}